.login-title {
  text-align: center;
  padding: 24px 24px;
}

.login-btn-ctr {
  text-align: center;
  padding: 8px 8px;
}

.login-links {
  display: flex;
  justify-content: center;
}

.forget-link {
  text-align: center;
}

.login-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
