.login-title {
  padding: 72px 24px;
  text-align: center;
}

.login-btn-ctr {
  text-align: center;
  padding: 24px 24px;
}

.login-links {
  display: flex;
  justify-content: center;
}

.forget-link {
  text-align: center;
}

.login-links-wrapper {
  padding: 72px 0px;
}
