.login {
  background-image: linear-gradient(0deg, rgba(57,62,70,0.4962359943977591) 0%, rgba(34,40,49,0.8071603641456583) 100%), url(background.jpg);
  background-size: cover;
  min-height: 100vh;
}
